@using Vidly.Models
@using System.Data.Entity
@model IEnumerable<Movie>
@{
    ViewBag.Title = "全部电影";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() != 0)
{
    <h2>全部电影</h2>
    @Html.ActionLink("新增", "New", "Movies", new { }, new { @class = "btn btn-primary"})
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">电影ID</th>
                <th scope="col">电影名</th>
                <th scope="col">电影类型</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <th>@movie.Id</th>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, new { })</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h2>当前没有电影</h2>
}

