@model Vidly.Models.Customer
@{
    ViewBag.Title = Model.Name + " - 用户详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>用户详情</h2>
<p>用户名：@Model.Name</p>
<ul>
    <li>会员级别：@Model.MemberShipType.Name</li>
    <li>最爱的电影：@Model.FavoriteMovie.Name</li>
    <li>生日：@Model.BirthDate.ToShortDateString()</li>
</ul>

